<!--<h1>タスクリスト一覧</h1>-->
<% if logged_in? %>

  <div class="row">
    <aside class="col-sm-4">
      
<%= link_to "新規タスクの投稿", new_task_path %>

    </aside>
    <div class="col-sm-8">
      
<ul>
  
<% @tasks.each do |task| %>

    <li>
<%= link_to task.id, task %>
 : 
<%= task.status %>
 &gt; 
<%= task.content %>
</li>
  
<% end %>

</ul>

    </div>
  </div>
<% else %>

  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklist</h1>
      
<%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>

    </div>
  </div>
<% end %>